<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844821664847-0bo84qlpbaiauhraevlr1q1k705mubci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844821664847-0bo84qlpbaiauhraevlr1q1k705mubci</string>
	<key>API_KEY</key>
	<string>AIzaSyABo4BmHMHJVMMAOdFmLBXktWSSyoHpof0</string>
	<key>GCM_SENDER_ID</key>
	<string>844821664847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.dmtri.Vnavigate</string>
	<key>PROJECT_ID</key>
	<string>vnavigate-d2022</string>
	<key>STORAGE_BUCKET</key>
	<string>vnavigate-d2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844821664847:ios:c0ffb98ed4a3415bbf863a</string>
</dict>
</plist>